<a href="{{ homePath | default('/') }}" class="logo d-block text-center my-2" title="{{ 'Company logo' | trans }}">
    <span class="logo logo-light">
        <span class="logo-lg zed-logo"></span>
        <span class="logo-sm zed-logo-sm"></span>
    </span>
</a>
