.btn {
    --btn-flex-gap: 4px;

    @extend .btn;
    @extend .btn-primary;

    gap: var(--btn-flex-gap);
    align-items: center;

    &.btn-xs {
        --ins-btn-padding-y: 2px;
        --ins-btn-padding-x: 8px;
        --ins-btn-font-size: 12px;
    }
}

.btn-link {
    --ins-btn-border-color: transparent;
    --ins-btn-bg: transparent;
    --ins-btn-hover-bg: transparent;
    --ins-btn-hover-border-color: transparent;
    --ins-btn-color: --ins-body-color;
    --ins-btn-hover-color: --ins-body-color;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.btn-create,
.btn-primary {
    @extend .btn-primary;

    &.btn-outline {
        @extend .btn-outline-primary;
    }
}

.btn-danger,
.btn-remove {
    --ins-btn-color: #fff;
    --ins-btn-hover-color: #fff;
    --ins-btn-active-color: #fff;
    --ins-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --ins-btn-disabled-color: #fff;
    --ins-btn-bg: var(--ins-danger);
    --ins-btn-border-color: var(--ins-danger);
    --ins-btn-hover-bg: var(--ins-danger-text-emphasis);
    --ins-btn-hover-border-color: var(--ins-danger-text-emphasis);
    --ins-btn-focus-shadow-rgb: var(--ins-danger-rgb);
    --ins-btn-active-bg: var(--ins-danger-text-emphasis);
    --ins-btn-active-border-color: var(--ins-danger-text-emphasis);
    --ins-btn-disabled-bg: var(--ins-danger);
    --ins-btn-disabled-border-color: var(--ins-danger);

    &.btn-outline {
        --ins-btn-color: var(--ins-danger);
        --ins-btn-bg: transparent;
        --ins-btn-border-color: var(--ins-danger);
        --ins-btn-hover-bg: var(--ins-danger);
        --ins-btn-hover-border-color: var(--ins-danger);
        --ins-btn-focus-shadow-rgb: var(--ins-danger-rgb);
        --ins-btn-active-bg: var(--ins-danger);
        --ins-btn-active-border-color: var(--ins-danger);
    }
}

.btn-view {
    --ins-btn-color: #fff;
    --ins-btn-hover-color: #fff;
    --ins-btn-active-color: #fff;
    --ins-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --ins-btn-disabled-color: #fff;
    --ins-btn-bg: var(--ins-secondary);
    --ins-btn-border-color: var(--ins-secondary);
    --ins-btn-hover-bg: var(--ins-secondary-text-emphasis);
    --ins-btn-hover-border-color: var(--ins-secondary-text-emphasis);
    --ins-btn-focus-shadow-rgb: var(--ins-secondary-rgb);
    --ins-btn-active-bg: var(--ins-secondary-text-emphasis);
    --ins-btn-active-border-color: var(--ins-secondary-text-emphasis);
    --ins-btn-disabled-bg: var(--ins-secondary);
    --ins-btn-disabled-border-color: var(--ins-secondary);

    &.btn-outline {
        --ins-btn-color: var(--ins-primary);
        --ins-btn-bg: transparent;
        --ins-btn-border-color: var(--ins-primary);
        --ins-btn-hover-bg: var(--ins-primary);
        --ins-btn-hover-border-color: var(--ins-primary);
        --ins-btn-focus-shadow-rgb: var(--ins-primary-rgb);
        --ins-btn-active-bg: var(--ins-primary);
        --ins-btn-active-border-color: var(--ins-primary);
    }
}

.btn-edit {
    --ins-btn-bg: var(--ins-warning);
    --ins-btn-border-color: var(--ins-warning);
    --ins-btn-hover-bg: var(--ins-warning-text-emphasis);
    --ins-btn-hover-border-color: var(--ins-warning-text-emphasis);
    --ins-btn-focus-shadow-rgb: var(--ins-warning-rgb);
    --ins-btn-active-bg: var(--ins-warning-text-emphasis);
    --ins-btn-active-border-color: var(--ins-warning-text-emphasis);
    --ins-btn-disabled-bg: var(--ins-warning);
    --ins-btn-disabled-border-color: var(--ins-warning);
    --ins-btn-hover-color: #fff;
    --ins-btn-active-color: #fff;
    --ins-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --ins-btn-disabled-color: #f8ac59;
    --ins-btn-disabled-bg: transparent;
    --ins-btn-disabled-border-color: #f8ac59;
    --ins-gradient: none;

    &.btn-outline {
        --ins-btn-color: var(--ins-primary);
        --ins-btn-bg: transparent;
        --ins-btn-border-color: var(--ins-primary);
        --ins-btn-hover-bg: var(--ins-primary);
        --ins-btn-hover-border-color: var(--ins-primary);
        --ins-btn-focus-shadow-rgb: var(--ins-primary-rgb);
        --ins-btn-active-bg: var(--ins-primary);
        --ins-btn-active-border-color: var(--ins-primary);
    }
}

.btn-info {
    --ins-btn-color: var(--ins-primary);
    --ins-btn-bg: transparent;
    --ins-btn-border-color: var(--ins-primary);
    --ins-btn-hover-bg: var(--ins-primary);
    --ins-btn-hover-border-color: var(--ins-primary);
    --ins-btn-focus-shadow-rgb: var(--ins-primary-rgb);
    --ins-btn-active-bg: var(--ins-primary);
    --ins-btn-active-border-color: var(--ins-primary);
}

.btn.more-history {
    @extend .btn-default;
}

.btn-default {
    --ins-btn-color: #fff;
    --ins-btn-bg: var(--ins-primary);
    --ins-btn-border-color: var(--ins-primary);
    --ins-btn-hover-bg: var(--ins-primary-text-emphasis);
    --ins-btn-hover-border-color: var(--ins-primary-text-emphasis);
    --ins-btn-focus-shadow-rgb: var(--ins-primary-rgb);
    --ins-btn-active-bg: var(--ins-primary-text-emphasis);
    --ins-btn-active-border-color: var(--ins-primary-text-emphasis);
    --ins-btn-disabled-bg: var(--ins-primary);
    --ins-btn-disabled-border-color: var(--ins-primary);
    --ins-btn-active-color: #fff;
    --ins-btn-hover-color: #fff;
}

.btn-outline {
    @extend .btn-outline-primary;
}

.btn-block {
    width: 100%;
}

.login-box .btn {
    @extend .btn-primary;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    --ins-btn-disabled-opacity: 0.4;

    color: inherit;
    background-color: inherit;
    border-color: inherit;
    opacity: var(--ins-btn-disabled-opacity);
}
