.dataTable {
    .btn {
        margin-bottom: 4px;

        .fa {
            display: none;
        }
    }

    [class='label '] {
        @extend .badge-default;
    }

    .label-success {
        --ins-success-rgb: var(--ins-primary);
        @extend .badge-outline-success;
    }

    .label-primary {
        @extend .badge-outline-primary;

        color: var(--ins-success);
        border-color: currentColor;
    }

    p {
        margin: 0;
    }
}

table.table.dataTable.table-hover > tbody > tr.selected:hover > *,
table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n + 1).selected > *,
table.table.dataTable > tbody > tr.selected > * {
    box-shadow: none;
    color: inherit;
}

.dt-column-title {
    white-space: nowrap;
    padding-right: 0;
}

.dt-column-header {
    padding-right: 0;
}

.table > :not(caption) > * > * {
    padding: 12px 6px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
    display: block;
}

.dataTables_empty-message {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    padding: 95px 0 35px;
    background: var(--ins-secondary-bg);
    color: var(--ins-body-color);
    min-height: 380px;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        top: 136px;
        left: 50%;
        translate: -50% 0;
        width: 48px;
        height: 48px;
        background: url('../img/cards_stack.svg') center center no-repeat;
    }

    strong {
        font-size: 16px;
    }

    img {
        width: 48px;
        margin-bottom: 8px;
    }
}

table.dataTable thead th:hover::after,
table.dataTable thead th.dt-ordering-asc::after,
table.dataTable thead th.dt-ordering-desc::after {
    display: none;
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: left;
}

table.dataTable th.dt-type-numeric div.dt-column-header,
table.dataTable th.dt-type-numeric div.dt-column-footer,
table.dataTable th.dt-type-date div.dt-column-header,
table.dataTable th.dt-type-date div.dt-column-footer,
table.dataTable td.dt-type-numeric div.dt-column-header,
table.dataTable td.dt-type-numeric div.dt-column-footer,
table.dataTable td.dt-type-date div.dt-column-header,
table.dataTable td.dt-type-date div.dt-column-footer {
    flex-direction: row;
}
