.pagination {
    display: inline-flex;
    vertical-align: top;

    & > li {
        margin: 0 3px;
        display: block;

        & > a {
            float: none;
            display: block;
            font-weight: 500;
            border-color: $grey-light;
            color: $grey-dark;
            min-width: 38px;
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            padding: 6px 4px;
            border-radius: 4px;
            overflow: hidden;
            transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;

            &:hover {
                border-color: $grey;
                background: $white;
                color: $grey-dark;
            }

            &:focus {
                outline-width: 0;
                border-color: $green-default;
                background: $white;
            }
        }

        &.active {
            a {
                background: $green-default;
                border-color: $green-default;
                color: $white;
                pointer-events: none;

                &:focus {
                    background: $green-default;
                    border-color: $green-default;
                    color: $white;
                }
            }
        }

        &.disabled {
            a,
            a:hover,
            a:focus {
                background: $grey-lighter;
                border-color: $grey-light;
                color: $grey-base;
            }
        }

        &.previous,
        &.next {
            a {
                text-align: left;
                text-indent: -9999px;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Font Awesome 5 Free';
                    content: '\f104';
                    font-weight: 900;
                    text-indent: 0;
                    font-size: 18px;
                }
            }
        }

        &.next a:after {
            content: '\f105';
        }
    }
}
